{%extends 'admin/master.html'%}
{%block body%}
<h1>Welcome administrator</h1>
<h4>Extensions Now available</h4>
<ul>
    <li>
        <p>To install an extensions first upload the file to the extensions folder you can do it from your file manager
            or from <a href="/admin/file_admin_ext">Extensions</a> Page</p>
    </li>
    <li>
        <p>Extensions have to be adedd to the main app with a code in order to do that go to <a
                href="/extesnions_codeword">EC</a> And put in the code your extension gave you</p>
    </li>
</ul>
{%endblock%}