<form action="">
    <textarea class="terminal" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
        id="terminal" cols="100" rows="100" name="code"></textarea>
    <input type="submit" value="Submit" class="submit">
</form>
<style>
    body {
        background-color: black;
    }

    .terminal {
        width: 100%;
        height: 90%;
        background-color: black;
        color: #66cc00;
        font-size: 20px;
    }

    .submit {
        width: 100%;
        height: 5%;
        font-size: xx-large;
        background-color: black;
        color: #66cc00;
        border: #66cc00;
        border-radius: 10;
        border-width: 10;
    }
</style>

<script>
    // global vars
    let terminal, keyPressAudio, backgroundAudio, writeSpeed;

    window.addEventListener('load', init);

    function init() {
        // default settings
        terminal = document.getElementById("terminal");
        keyPressAudio = new Audio('./audio/keyPress.mp3');
        backgroundAudio = new Audio('./audio/back.mp3');
        writeSpeed = 60;
        backgroundAudio.volume = 0.1;
        backgroundAudio.loop = true;
        terminal.innerText = "";
        terminalStart();

        // input listener
        terminal.addEventListener("keydown", terminalInputHandler);
    }





</script>